<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Обо мне</title>

    <!-- Custom styles for this template -->
	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bio/css/bootstrap.min.css' %}"/>    
	<link rel="stylesheet" type="text/css" href="{% static 'bio/sticky-footer.css' %}" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	<!-- Begin page content -->
	<div class="container">
      {% if latest_record_list %}
    	<ul>
    		{% for record in latest_record_list %}
    		<div class="page-header">
    			<h1>{{ record.title }}</h1>
    		</div>
	    		<p class="lead">{{ record.intro }}</p>
	    		<p>{{ record.body }}</p>
	    		<p><a href="login/">login</a></p>
	    		<p>{{ record.pub_date }}</p>
    	</ul>
    </div>

    <div id="footer">
      <div class="container">
        <center><p class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Позвонить: {{ record.phone }} &nbsp;&nbsp;&nbsp;&nbsp; Написать: {{ record.email }} &nbsp;&nbsp;&nbsp;&nbsp; Почитать: {{ record.twitter }}</p></div></center>
      </div>
    </div>
    {% endfor %}
    {% else %}
    		<p>No records are available.</p>
	{% endif %}  
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

