<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bio/css/bootstrap.min.css' %}"/>  
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'bio/signin.css' %}" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form class="form-signin" role="form" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
        <h2 class="form-signin-heading">Please sign in</h2>

        <input name="username" type="text" class="form-control" placeholder="User name" autofocus value="{{ form.username.field.value }}"> 
        <div>{{ form.username.errors }}</div>
        <input name="password" type="password" class="form-control" placeholder="Password" value="{{ form.password.field.value }}">
        <div> {{ form.password.errors }} </div>
        <input name="next" type="hidden" value="/bio">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>